@keyframes login {
  from {
    background: white;
  }

  to {
    background: rgb(30, 185, 233);
  }
}

.login {
  float: left;
  vertical-align: middle;
  display: inline !important;
  text-align: center !important;
  text-decoration: none !important;
  font-size: 17px !important;
  width: fit-content !important;
  height: 2rem !important;
  box-sizing: border-box !important;
  border: 1px solid rgb(30, 185, 233);
  background-color: white !important;
  color: black !important;
  border-radius: 6px;
}


.nav-bar-left {
  float: left;
}

.login-form {
  align-items: center !important;
}

.login-btn {
  background-color: rgb(30, 185, 233);
  border: rgb(30, 185, 233);
}

body {
  font-family: "Lato", sans-serif !important;
  margin: 0 !important;
  background: #282c34 !important;
}

.prawo {
  text-align: left !important;
  width: fit-content;
  height: fit-content;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.wart {
  padding-left: 0.5rem;
}

.rozmiar-modal {
  width: 75%;
  max-width: 100%;
}


.daty {
  padding-left: 3.5rem;
}

.szczeg-tab {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
}

.szczeg-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  border: 1px solid black;
}

.przyj-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.detail-container {
  border: 5px solid rgb(30, 185, 233);
  border-radius: 0.5rem;
}

.border-class {
  border: 1px solid black;
  text-align: center;
}

.opis1 {
  height: 3vw;
}

.opis_lewo {
  text-align: left;
  transform: translate(0%, -35%);
}