.nav-bar-button {
    display: block;
    color: black;
    text-align: center;
    padding: 1rem 1.2rem;
    text-decoration: none;
    font-size: 17px;
}

.nav-bar-left {
    float: left;
}

@keyframes navbar {
    from{background: white;}
    to{background: rgb(30, 185, 233);}
}

.nav-bar-button:hover {
    animation-name: navbar;
    animation-duration: 0.35s;
    background: rgb(30, 185, 233);
}

.nav-bar-right {
    float: right;
}