.item {
  min-height: 15rem;
  min-width: 20rem;
  padding: 20px;
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  background: rgba(255, 255, 255, 0.3);
  pointer-events: none;
}

.inner-carousel {
  display: flex;
}

.carousel {
  cursor: grab;
  overflow: hidden;
}

.Framer {
  margin: 0 18%;
}

.carousel-text {
  font-size: 30px;
  color: rgb(30, 185, 233);
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 45%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
}
