.item {
  padding: 5vw;
  width: 20vw;
  height: 45vh;
}

.item img {
  border-radius: 1.5rem;
  background: rgba(255, 255, 255, 0.3);
  pointer-events: none;
}

.inner-carousel {
  display: flex;
}

.carousel {
  cursor: grab;
  overflow: hidden;
  margin-top: 10vh;
}

.Framer {
  margin: 0 18%;
}

.carousel-text {
  color: rgb(30, 185, 233);
  text-align: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.563);
}

@media (orientation: landscape) {
  .carousel-text {
    width: 15vw;
    font-size: 2vw;
    top: 11vw;
    margin-top: 25rem;
  }

  .item img {
    width: 15vw;
    height: 15vw;
  }

  .item {
    margin-top: 25rem;
  }
}

@media (orientation: portrait) {
  .carousel-text {
    width: 20vw;
    font-size: 3vw;
    top: 12vw;
  }

  .item {
    width: 30vw;
    height: 45vh;
  }

  .item img {
    width: 20vw;
    height: 20vw;
  }
}