.login {
    display: inline;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    width: 6rem;
    height: 4vh;
    padding: 1vw 1vh;
    border: 0;
    background-color: white;
}

.nav-bar-left {
    float: left;
}

@keyframes navbar {
    from{background: white;}
    to{background: rgb(30, 185, 233);}
}

.login:hover {
    animation-name: navbar;
    animation-duration: 0.35s;
    background: rgb(30, 185, 233);
}