@media (orientation: landscape) {
    .nav-bar-button {
        display: inline;
        color: black !important;
        text-align: center !important;
        text-decoration: none !important;
        font-size: 17px !important;
        height: 3rem !important;
        width: 5.5rem !important;
        vertical-align: middle !important;
        padding-top: 0.85rem !important;
        border: none !important;
    }
}

@media (orientation: portrait) {
    .nav-bar-button {
        display: inline;
        color: black !important;
        text-align: center !important;
        text-decoration: none !important;
        font-size: 17px !important;
        height: fit-content !important;
        width: 15vw !important;
        vertical-align: middle !important;
        padding-top: 0.8rem !important;
        padding-bottom: 0.6rem !important;
    }
}

.nav-bar-left {
    float: left !important;
}

.nav-bar-right {
    margin-left: auto !important;
}

@keyframes navbar {
    from {
        background: white !important;
    }

    to {
        background: rgb(30, 185, 233) !important;
    }
}

.nav-bar-button:hover {
    animation-name: navbar;
    animation-duration: 0.35s;
    background: rgb(30, 185, 233);
}

.btn-div {
    height: 3rem !important;
    display: inline !important;
    width: fit-content !important;
    cursor: pointer !important;
}