@media (orientation: landscape) {
    .nav-bar-button {
        display: inline;
        color: black;
        text-align: center;
        text-decoration: none;
        font-size: 17px;
        height: 3rem;
        width: 5.5rem;
        vertical-align: middle;
        padding-top: 0.85rem;
        border: none;
    }
}

@media (orientation: portrait) {
    .nav-bar-button {
        display: inline;
        color: black;
        text-align: center;
        text-decoration: none;
        font-size: 3vw;
        height: fit-content;
        width: 15vw;
        vertical-align: middle;
        padding-top: 1.5vw;
        padding-bottom: 0.6rem;
    }
}

.nav-bar-left {
    float: left;
}

.nav-bar-right {
    margin-left: auto;
}

@keyframes navbar {
    from {
        background: white;
    }

    to {
        background: rgb(30, 185, 233);
    }
}

.nav-bar-button:hover {
    animation-name: navbar;
    animation-duration: 0.35s;
    background: rgb(30, 185, 233);
}

.btn-div {
    height: 3rem;
    display: inline;
    width: fit-content;
    cursor: pointer;
}