.tabela-panel {
  color: white;
  border: 1px solid;
  border-color: white;
  margin-left: auto;
  margin-right: auto;
}

.komorka-panel {
  padding-right: 1rem;
  padding-left: 0.3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  width: fit-content;
  height: fit-content;
}

.szukanie {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
  color: white;
}
