.eachicon{
  margin-top: 4rem;
}

hr{
  height:2px;
  border-width:1;
  color:white;
  background-color:white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}
#linia{
  width: 80%;
}

.App{
  
  margin-top: 12rem;
  color: rgb(30, 185, 233);
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
  font-size: 5rem;
  width: 80%;
}

tr>th{
  position: relative;
  margin-top: 4rem;
  border: 5px !important;
  font-size: 6rem;
}

tr>td{
  padding: 5rem;
  font-size: 1.5rem;
  color: black;
}


.opis1{
  padding-top: 2.75rem;
  text-align: center;
  width: 16rem;
  height: 16rem;
  background-color: aliceblue;
  border: 5px solid rgb(30, 185, 233);
}

.opis2{
  padding-top: 1rem;
  text-align: center;
  width: 16rem;
  height: 16rem;
  background-color: aliceblue;
  border: 5px solid rgb(30, 185, 233);
}

.opis3{
  padding-top: 3.75rem;
  text-align: center;
  width: 16rem;
  height: 16rem;
  background-color: aliceblue;
  border: 5px solid rgb(30, 185, 233);
}