.nav-bar {
    overflow: hidden;
    background: white;
    width: 93vw
}
.nav-bar-main {
    display: flex;
    justify-content: flex-start;
}

.navbar-logo {
    width: 8,1834rem;
    height: 3.375rem;
}