.nav-bar {
    overflow: hidden;
    background: white;
    width: 100vw
}
.nav-bar-main {
    display: flex;
    justify-content: flex-start;
}

.navbar-logo {
    height: 3.2085rem;
}

.nav-bar-right {
    float: right;
    margin-bottom: 0;
}

.login {
    overflow: hidden;
    background: white;
    width: 7rem;
    margin-bottom: 0;
}
