.label{
    width: 12rem;
    text-align: left;
    padding-right: 4rem;
}
.input{
    text-align: center;

}

.oddzielenie{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.guzik{
    padding-bottom: 1.5rem;
}

.formule{
    padding: 1rem;
    border: 5px solid rgb(30, 185, 233) !important;
    margin-top: 3rem !important;
    background-color: white;
    margin-left: auto !important;
    margin-right: auto !important;
    color: black !important;
    margin-top: 0;
    margin-bottom: 0;
    width: 600px;
}

