.each {
  width: fit-content;
  max-width: max-content;
  z-index: 1;
}

.container {
  width: fit-content;
  height: fit-content;
  padding: 0;
}

.layer {
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}

.centered {
  position: absolute;
  left: 50%;
}

h2 {
  font-family: "Lato", sans-serif;
  text-decoration: underline;
  margin-left: auto;
  margin-right: auto;
  color: rgb(30, 185, 233);
  text-underline-position: under;
}

h3 {
  font-family: "Lato", sans-serif;
  text-align: center;
  color: #282c34;
}

.nag {
  top: 40%;
}

.tekst {
  top: 60%;
}

@media (orientation: landscape) {
  .nag {
    top: 22vw;
    font-size: 3vw;
  }

  .tekst {
    font-size: 2vw;
    width: 45vw;
    top: 30vw;
    color: white;
    text-shadow: 1px 1px 0 black;
  }

  .slajd-home {
    height: 40vw;
    width: 100vw;
  }

  .layer {
    width: 100%;
    height: 40vw;
  }

  .centered {
    transform: translate(-50%, -200%);
  }

  .slide-container {
    height: 60vh;
  }
}

@media (orientation: portrait) {
  .nag {
    font-size: 3vw;
  }

  .tekst {
    font-size: 3vw;
    width: 40vw;
    margin-top: 3vw;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .slajd-home {
    height: 60vh;
    width: max-content;
  }

  .layer {
    width: 100%;
    height: 60vh;
  }

  .centered {
    transform: translate(-50%, -100%);
  }
}