.nav-bar-main {
    display: flex;
    background: white !important;
    top: 0;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    box-sizing: border-box;
    z-index: 100;
}

@media (orientation: landscape) {
    .nav-bar-main {
        overflow: hidden;
        height: 3rem;
    }

    .navbar-logo {
        height: 3rem;
        float: left;
        padding: 1px;
    }
}

@media (orientation: portrait) {
    .nav-bar-main {
        height: 8vw;
    }

    .navbar-logo {
        height: 8vw;
        float: left;
        padding: 1px;
    }
}

.nav-bar-right {
    margin-bottom: 0 !important;
    float: right !important;
}

.login-modal {
    margin-bottom: 0 !important;
    padding: 0 !important;
    float: right !important;
}