.nav-bar {
    overflow: hidden;
    background: white;
    height: 3rem !important;
}

.nav-bar-main {
    display: flex;
    width: 100vw;
    background: white;
}

@media (orientation: landscape) {
    .nav-bar {
        overflow: hidden;
        height: 3rem !important;
    }
}

@media (orientation: portrait) {
    .nav-bar {
        display: flex;
        background: white;
        height: 3rem !important;
    }
}

.navbar-logo {
    height: 3rem;
}

.nav-bar-right {
    float: right;
    margin-bottom: 0;
}

.login-modal {
    margin-bottom: 0;
    padding: 0;
    float: right;
}